@import "cursor.css";
:root {
  --dark: rgb(29, 29, 29);
  --dark-2: rgb(35,35,35);
  --light: #f8f8f8;
  --med-light: #d8d8d8;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 1rem;
}

.top-load {
  height: 1rem;
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.top-bar {
  width: 58.7%;
  height: inherit;
  background-color: var(--light);
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cursor__dot {
  display: flex;
  width: 1em;
  height: 1em;
  max-height: 14px;
  max-width: 14px;
  justify-content: center;
  align-items: center;
  border: 1px #1d1d1d;
  border-radius: 500px;
  background-color: hsla(0deg, 0%, 100%, 0.01);
  opacity: 1;
  -webkit-backdrop-filter: invert(100%);
  backdrop-filter: invert(100%);
  transition: filter 350ms, height 350ms, width 350ms, opacity 350ms, max-height 350ms, max-width 350ms;
  color: #1d1d1d;
}

#header {
  padding-top: 1rem;
  height: 3rem;
  width: 100%;
}

#navigation-wrapper {
  height: 2.5rem;
  width: 100%;
  border-left: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  border-right: 1px solid var(--light);
}
#navigation-wrapper .nav-items-wrapper {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
}
#navigation-wrapper .nav-items-wrapper .nav-tab {
  font-size: 0.8rem;
  width: 10%;
  margin-left: 1rem;
  color: var(--med-light);
}
#navigation-wrapper .nav-items-wrapper .nav-links-wrapper {
  margin: auto auto auto 31%;
  width: 65%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navigation-wrapper .nav-items-wrapper .nav-links-wrapper .link-border {
  height: inherit;
  width: 25%;
  border-left: 1px solid var(--light);
  display: flex;
  align-items: center;
}
#navigation-wrapper .nav-items-wrapper .nav-links-wrapper .link-border p {
  font-size: 0.8rem;
  text-transform: capitalize;
  margin-left: 1rem;
}
#navigation-wrapper .nav-items-wrapper .nav-links-wrapper .link-border p a {
  text-decoration: none;
  color: var(--med-light);
}

#about {
  padding-top: 1rem;
  height: 60vh;
  width: 100%;
}
#about .about-top-wrapper {
  width: 82.5%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
#about .about-top-wrapper .about-wrap-block {
  width: 100%;
  height: auto;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}
#about .about-top-wrapper .about-wrap-block img {
  width: 1.5rem;
}
#about .about-top-wrapper .about-wrap-block h1 {
  color: var(--light);
  font-family: "Michroma", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
#about .about-bottom-wrapper {
  padding-top: 0.7rem;
  height: inherit;
  width: inherit;
}
#about .about-bottom-wrapper .about-right-block-wrapper {
  float: right;
  height: 50%;
  width: 58.75%;
  border-left: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  border-right: 1px solid var(--light);
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-top-wrap {
  height: 80%;
  display: flex;
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-top-wrap .about-text {
  width: 90%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--light);
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-top-wrap .about-text p {
  width: 89%;
  color: var(--med-light);
  font-size: 0.8rem;
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-top-wrap .about-socials {
  width: 30%;
  padding: 0.5rem;
  border-left: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-top-wrap .about-socials ul li {
  font-size: 0.8rem;
  list-style: none;
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-top-wrap .about-socials ul li a {
  text-decoration: none;
  color: var(--med-light);
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-bottom-wrap {
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-bottom-wrap .current-text {
  width: 89%;
  height: auto;
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-bottom-wrap .current-text p {
  padding: 0.5rem;
  color: var(--med-light);
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-bottom-wrap .current-based {
  width: 30%;
  height: 100%;
  border-left: 1px solid var(--light);
  display: flex;
  align-items: center;
}
#about .about-bottom-wrapper .about-right-block-wrapper .a-info-bottom-wrap .current-based p {
  padding: 0.5rem;
  color: var(--med-light);
}

#name {
  width: 100%;
  height: 29vh;
  display: flex;
  justify-content: flex-end;
}
#name .name-wrapper {
  height: 100%;
  width: 58.95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#name .name-wrapper .name-b {
  font-size: 4.1rem;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  color: var(--light);
}
#name .name-wrapper .bottom-bar {
  width: 100%;
  height: 1.7rem;
  background-color: var(--light);
}/*# sourceMappingURL=index.css.map */