@import "background.css";
@import "scrollspy.css";
@import "animatedscroll.css";
:root {
  --dark-mode: #090a0b;
  --light-mode: #e5e5e5;
  --text-light: #f8f8f8;
  --text-med-light: #cbcbcb;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-mode);
  color: var(--light-mode);
}

/* Navigation */
#nav-container {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 5rem;
}

.navigation {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
  width: 95%;
}

.navigation a {
  text-decoration: none;
  color: var(--text-med-light);
}

.nav-menu {
  width: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

#side-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 100vh;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 65%;
}

.side-bar-top {
  width: inherit;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 20px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: var(--text-med-light);
}

.logo a {
  color: var(--text-med-light);
}

.side-bar-top p {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-orientation: sideways;
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: var(--text-med-light);
}

.side-bar-links {
  height: 40%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-bar-links ul {
  list-style: none;
}

.side-bar-links ul li {
  font-size: 14px;
  padding: 8px 0 8px 0;
  color: var(--text-med-light);
}

.side-bar-links ul li a {
  color: var(--text-med-light);
}

#scroll-container {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 100vh;
}

/* Main */
main {
  padding-left: 5rem;
}

/* Jumbotron*/
#jumbotron {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.jumbo-position {
  width: 90%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro-block {
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 2rem;
}

.intro-title {
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.3rem;
}

.intro-fill {
  font-family: "Inter", sans-serif;
  font-size: 1.08rem;
  font-weight: 300;
  width: 28vw;
}/*# sourceMappingURL=index.css.map */